*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

header {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  color: hsl(206, 17%, 28%);
}

.passgen {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  width: 80%;
  padding: 30px 40px;
}

.cardheader::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.cardbody {
  min-height: 100px;
}

.button {
  text-align: center;
}

.button::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.button::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Hidden form styles */

.form {
  width: 70%;
  height: 50%;
  display: flex;
  position: fixed;
  top: 35%;
  left: 75%;
  font-size: 50px;
  color: white;
  transform: translate(-60%, -52%) scale(0);
  
}

.active {
  transform: translate(-60%, -52%) scale(1);
} 

#hiddenform {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 8px 0p
  }

#hiddenform p, 
#hiddenform label {
    color: white;
    margin: 10px;
    padding: 7px 15px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 15px;
}
#hiddenform p {
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}  

.passlength {
  margin: 10px 20px 3px 16px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#passLen {
  width: 50%;
  height: 70%;
  margin-left: 40px;
  padding-left: 10px;
} 

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

::placeholder { 
  color: black;
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
}

.button1 {
  width: 100%;
  display: flex;
  justify-content: center;
  
}

#submit {
  color: white;
  background-color: grey;
  border: blanchedalmond;
  border-radius: 20%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#submit[disabled] {
  cursor: default;
}

@media (max-width: 1200px) {
  .active {
    width: 90%; 
    transform: translate(-55%, -52%) scale(1);
  }

  .passlength {
    margin: 10px 18px 3px 15px; 
  }

}

@media (max-width: 900px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }

  .passlength {
    margin: 10px 0 0 0;
    padding-left: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #passLen {
    width: 50%;
    height: 30%;
  } 

  ::placeholder { 
    font-size: x-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .active {
    width: 100%;
    transform: translate(-54%, -52%) scale(1);
  }
  #hiddenform p, 
  #hiddenform label,
  #submit {
      font-size: 12px;
  }
}  

@media (max-width: 600px) {

.cardheader h2 {
      text-align: center;
      font-size: larger;
  }

.btn {
      font-size: 0.8rem;
  }

  #hiddenform,
  .passlength {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #hiddenform p, 
  #hiddenform label,
  #submit,
  ::placeholder {
    font-size: 10px;
  }

  .active {
    height: fit-content;
    transform: translate(-55%, -30%) scale(1);
  }
  .passlength {
    margin-top: 0;
  }

  #passLen {
    margin-right: 40px;
  }
  #submit {
    margin-top: 10px;
  }
}